 ## <div align="center"> Python </div>
 <div align="center">**quite practical and far from any theoretical concepts**</div>
<div style="text-align:center">last update: <b>10/17/2018</b></div>



---------------------------------------------------------------------
Fork, Run and Follow this kernel on GitHub:
> ###### [ GitHub](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist)


-------------------------------------------------------------------------------------------------------------
 **I hope you find this kernel helpful and some UPVOTES would be very much appreciated**
 
 -----------

 <a id="0"></a> <br>
**Notebook Content**
1. [Python](#1)
    1. [Basics](#2)
    1. [Functions](#3)
    1. [Types and Sequences](#4)
    1. [More on Strings](#5)
    1. [Reading and Writing CSV files](#6)
    1. [Dates and Times](#7)
    1. [Objects and map()](#8)
    1. [Lambda and List Comprehensions](#9)
    1. [OOP](#10)

 <a id="1"></a> <br>
# 1-Python
Python is a modern, robust, high level programming language. It is very easy to pick up even if you are completely new to programming.

- The __open source__ Python ecosystem provides __a standalone, versatile and powerful scientific working environment__, including: [NumPy](http://numpy.org), [SciPy](http://scipy.org), [IPython](http://ipython.org), [Matplotlib](http://matplotlib.org), [Pandas](http://pandas.pydata.org/), _and many others..._



- Scikit-Learn builds upon NumPy and SciPy and __complements__ this scientific environment with machine learning algorithms;
- By design, Scikit-Learn is __non-intrusive__, easy to use and easy to combine with other libraries;
- Core algorithms are implemented in low-level languages.

<a id="2"></a> <br>
# 1-2 Python: Basics

In [ ]:
import this

### Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:
x = 2
y = 5
xy = 'Hey'

### Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

### Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
### Bitwise Operators
| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

<a id="3"></a> <br>
# 1-3 Python : Functions

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>
Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

<a id="4"></a> <br>
# 1-4 Python : Types and Sequences

<br>
Use `type` to return the object's type.

In [ ]:
type('This is a string')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(add_numbers)

<br>
Tuples are an immutable data structure (cannot be altered).

In [ ]:
x = (1, 'a', 2, 'b')
type(x)

<br>
Lists are a mutable data structure.

In [ ]:
x = [1, 'a', 2, 'b']
type(x)

<br>
Use `append` to append an object to a list.

In [ ]:
x.append(3.3)
print(x)

<br>
This is an example of how to loop through each item in the list.

In [ ]:
for item in x:
    print(item)

<br>
Or using the indexing operator:

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

<br>
Use `+` to concatenate lists.

In [ ]:
[1,2] + [3,4]

<br>
Use `*` to repeat lists.

In [ ]:
[1]*3

<br>
Use the `in` operator to check if something is inside a list.

In [ ]:
1 in [1, 2, 3]

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [ ]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

<br>
This will return the last element of the string.

In [ ]:
x[-1]

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [ ]:
x[-4:-2]

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [ ]:
x[:3]

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [ ]:
x[3:]

In [ ]:
firstname = 'MJ'
lastname = 'Bahmani'

print(firstname + ' ' + lastname)
print(firstname*3)
print('mj' in firstname)

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
firstname = 'Mr Dr Mj Bahmani'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Mr Dr Mj Bahmani'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

In [ ]:
'MJ' + str(2)

<br>
Dictionaries associate keys with values.

In [ ]:
x = {'MJ Bahmani': 'Mohamadjavad.bahmani@gmail.com', 'irmatlab': 'irmatlab.ir@gmail.com'}
x['MJ Bahmani'] # Retrieve a value by using the indexing operator

In [ ]:
x['MJ Bahmani'] = None
x['MJ Bahmani']

<br>
Iterate over all of the keys:

In [ ]:
for name in x:
    print(x[name])

<br>
Iterate over all of the values:

In [ ]:
for email in x.values():
    print(email)

<br>
Iterate over all of the items in the list:

In [ ]:
for name, email in x.items():
    print(name)
    print(email)

<br>
You can unpack a sequence into different variables:

In [ ]:
x = ('MJ', 'Bahmani', 'Mohamadjavad.bahmani@gmail.com')
fname, lname, email = x

In [ ]:
fname

In [ ]:
lname

<a id="5"></a> <br>
# 1-5 Python: More on Strings

In [ ]:
print('MJ' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'MJ'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

<a id="6"></a> <br>
# 1-6 Python:Reading and Writing CSV files

<br>
Let's import our datafile train.csv

In [ ]:
import csv

%precision 2

with open('../input/train.csv') as csvfile:
    train = list(csv.DictReader(csvfile))
    
train[:1] # The first three dictionaries in our list.

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [ ]:
len(train)

<br>
`keys` gives us the column names of our csv.

In [ ]:
train[0].keys()

<br>
How to do some math action on the data set

In [ ]:
sum(float(d['Fare']) for d in train) / len(train)

<br>
Use `set` to return the unique values for the type of Sex  in our dataset have.

In [ ]:
Sex = set(d['Sex'] for d in train)
Sex

<a id="7"></a> <br>
# 1-7 Python: Dates and Times

In [ ]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [ ]:
tm.time()

<br>
Convert the timestamp to datetime.

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

<br>
`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

<a id="8"></a> <br>
# 1-8 Python: Objects and map()

<br>
An example of a class in python:

In [ ]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
person = Person()
person.set_name('MJ Bahmani')
person.set_location('MI, Berlin, Germany')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

<br>
Here's an example of mapping the `min` function between two lists.

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [ ]:
for item in cheapest:
    print(item)

<a id="9"></a> <br>
# 1-9-Python : Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

<br>
Now the same thing but with list comprehension.

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

<a id="10"></a> <br>
# 1-10 OOP

In [ ]:
class FirstClass:
    test = 'test'
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

In [ ]:
eg3 = FirstClass('Three',3)

In [ ]:
print eg3.test, eg3.name

In [ ]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol
    def square(self):
        return self.symbol * self.symbol
    def cube(self):
        return self.symbol * self.symbol * self.symbol
    def multiply(self, x):
        return self.symbol * x

In [ ]:
eg4 = FirstClass('Five',5)

In [ ]:
print eg4.square()
print eg4.cube()

In [ ]:
eg4.multiply(2)

In [ ]:
FirstClass.multiply(eg4,2)

### 1-10-1 Inheritance

There might be cases where a new class would have all the previous characteristics of an already defined class. So the new class can "inherit" the previous class and add it's own methods to it. This is called as inheritance.

Consider class SoftwareEngineer which has a method salary.

In [ ]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print (self.name,"earns",self.money)

In [ ]:
a = SoftwareEngineer('Kartik',26)

In [ ]:
a.salary(40000)

In [ ]:
dir(SoftwareEngineer)

In [ ]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self,value):
        self.money = value
        print self.name,"earns",self.money
    def artform(self, job):
        self.job = job
        print self.name,"is a", self.job

In [ ]:
b = Artist('Nitin',20)

In [ ]:
b.money(50000)
b.artform('Musician')

In [ ]:
dir(Artist)

## 1 -11 Exception Handling

Now let us look ino some exception handling

In [1]:
fruits = ['apple', 'orange', 'banana', 'watermelon', 'grapes', 'potato', 'garlic']
colors = ['red', 'orange', 'yellow', 'green', 'violet', 'brown', 'white']

Before that let me introduce zip function to you. Basically what zip does is 'zips' a collection of iterables. Below for loop will clear what zip is usually used for

In [8]:
for obj in zip(fruits, colors):
    print('{}'.format(obj))

('apple', 'red')
('orange', 'orange')
('banana', 'yellow')
('watermelon', 'green')
('grapes', 'violet')
('potato', 'brown')
('garlic', 'white')

In [2]:
for i, j in zip(fruits, colors):
    print('{} is of color {}'.format(i,j))

apple is of color red
orange is of color orange
banana is of color yellow
watermelon is of color green
grapes is of color violet
potato is of color brown
garlic is of color white

In [17]:
fruit_dict = dict(zip(fruits, colors))

In [18]:
fruit_dict

{'apple': 'red',
 'orange': 'orange',
 'banana': 'yellow',
 'watermelon': 'green',
 'grapes': 'violet',
 'potato': 'brown',
 'garlic': 'white'}

In [20]:
what_fruit = input('Which fruit\'s color do you want to know?\n')
test = what_fruit.lower()
ind = fruit_dict[test]
print('Color of',test,'is',ind)

Which fruit's color do you want to know?
apple
Color of apple is red

What if I enter something not in the dictionary say tomato

In [25]:
what_fruit = input('Which fruit\'s color do you want to know?\n')
test = what_fruit.lower()
ind = fruit_dict[test]
print('Color of',test,'is',ind)

Which fruit's color do you want to know?
tomato

KeyError: 'tomato'

This looks pretty nasty right. How about we handle this with exception handling

In [26]:
try:
    what_fruit = input('Which fruit\'s color do you want to know?\n')
    test = what_fruit.lower()
    ind = fruit_dict[test]
    print('Color of',test,'is',ind)

except KeyError as v:
    print('{} is not in the fruit dictionary'.format(v))

Which fruit's color do you want to know?
tomato
'tomato' is not in the fruit dictionary



---------------------------------------------------------------------
Fork, Run and Follow this kernel on GitHub:
> ###### [ GitHub](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist)


-------------------------------------------------------------------------------------------------------------
 **I hope you find this kernel helpful and some UPVOTES would be very much appreciated**
 
 -----------